* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #0D101B; */
    background: #0D101B;
    background: linear-gradient(to bottom left, #30D3DA 0%, #FA5F6B 100%), #0D101B;
    background-blend-mode: overlay;
    font-family: 'Inter', sans-serif;
    color: white;
}

header {
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #101322;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem 4%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    z-index: 1000;
}

.actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* gap: 339px; */
    /* flex: 1;  */
   
}

.search-sort{
    display: flex;
    margin-inline: auto;
}

.actions h1{

    color: #E2E2E2;
    font-family: "inter";
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 41.6px;
}
.search-bar {
    position: relative;
    width: 300px; 
    margin: 0 auto;
}

.search-bar i {
    position: relative;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #525252;
   
}

.search-bar input {
    width: 100%;
    padding: 8px 12px 8px 30px;
    background-color: #171f41;
    border: 1px solid #a4a3a3;
    border-radius: 4px;
    color: rgba(122, 128, 153, 0.61);
    font-family: "inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.dropdown{

    width:8rem;
    position: relative;
}
.dropdown:hover .dropdown-list{

    opacity: 1;
    visibility: visible;
}
.dropdown-select {
    
    padding: 1.5rem;
    border-radius: 4px;
    background: none;
    /* background-color: #0D101B; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    cursor: pointer;
    font-family: "inter";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}
.dropdown-list{

    border-radius: 4px;
    background-color:#171f41;
    position: absolute;
    top:110%;
    left:0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear , visibility 0.2s linear;

}
.dropdown-list::before {
    content: "";
    position: absolute;
    top: -10px; 
    left: 70%;
    transform: translateX(-50%) rotate(45deg);
    width: 20px; 
    height: 20px; 
    background-color: #171f41; 
}

.dropdown-list-item{

     padding: 0.7rem;
     font-size: 10px;


}
.dropdown-list-item:hover{

    color: #FC5E64;


}

.actions button {
    border-radius: 4px;
    background-color: #171f41;
    color: #FC5E64;
    border: 1px solid #FC5E64;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.actions button:hover {
    background-color: #FC5E64;
    color: #0D101B;
    border: 1px solid #0D101B;
}


/* grid-layout */

.grid-layout {
    display: grid;
    gap: 20px;
    padding: 2rem 4%;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.card-layout {
    /* max-width: 436px; */
    max-height: 224px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    display: flex;
    padding: 15px;
    position: relative;
    border-radius: 12px;
    background: rgba(33, 39, 46, 0.40);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.15);
}
.image-container{

    width: 172px;
    height: 200px;
    justify-content: center;
    align-items: center;
   
}

.image-container img{

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.playlist-details{

    flex: 1;
    padding-bottom: 28px;
}
.playlist-details h3{

    font-size: 1.2rem;
    margin-bottom: 20px;
}

.playlist-details p{

    font-size: 0.9rem;
    margin-bottom: 5px;
    color: rgba(230, 230, 230, 0.59);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.dropdown1{

     position: absolute;
     top: 10px;
     right: 10px;
}
.menu-btn{

    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}
.dropdown1-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #171f41;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.dropdown1-content::before {

    content: "";
    position: absolute;
    top: -5px; 
    left: 70%;
    transform: translateX(-50%) rotate(45deg);
    width: 10px; 
    height: 10px; 
    background-color: #171f41; 
}

.dropdown1-content a {
    display: flex;
    padding: 10px;
    gap: 10px;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
}

.dropdown1-content a:hover {
    background-color:#181B25;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column-reverse;
        display: flex;
        min-height: 100vh;    
    }

    .grid-layout {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .card-layout {     
        flex-direction: column;
        height: 348px;     
    }

    .playlist-details{
        flex: 1;    
    }

    .playlist-details h3{ 
        font-size: 0.8rem;
        line-height:10px     
    } 

    .playlist-details p{
        font-size: 0.7rem;
        line-height: 10px;
    }

    .image-container{
        width: 100%;
        height: 100px;
        flex-shrink: 0;
        margin-top: 40px;
        margin-bottom: 5px;
    }

    .dropdown1{
        position: absolute;
        top: 120px;
       right: 10px;
   }

    .image-container img{
        object-fit: cover;
    }
}



@media (max-width: 768px) {

    .actions h1{
        font-size: 28px;    
    }

    .dropdown{
        margin-left: -15px;
    }
    
    .actions button {     
        padding: 8px 8px;
    }
    
    .search-bar {      
        width: 160px;       
    }

    .card-layout{
        height: 348px;
    }

    .image-container{ 
        margin-bottom: 10px;
        margin-top: 40px;    
       width: 100%;
       height: 100px;   
    }

    .image-container img{
        object-fit: cover; 
    }  
}



@media (max-width: 480px) {
    header {
        background-color: #101322;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .actions h1{
        position: fixed;
        margin-bottom: 90px;
        margin-right: 200px;
        font-size: 28px;  
    }

    .actions{
        flex-direction: column-reverse;
    }

    .actions button{
        padding: 8px 16px;
        margin-left: auto;
        margin-bottom: 30px;
    }

    .search-bar { 
        width: 220px; 
        margin-left: 10px;
        margin-right: auto;  
    }

    .grid-layout {
       margin-top: 170px;
    }

    .card-layout{
        width: 100%;
        height: 348px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-container{
        width: 100%;
        height: 100px;
        margin-bottom: 15px;
        margin-top: 0px; 
    }
   
    .dropdown1-content a {
        font-size: 10px;
    }

    .image-container img{ 
        object-fit: cover;
        margin-top: 20px;  
    }
    
}